* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgb(223, 43, 43);
    padding-top: 16px;
    color: white;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: rgb(255, 109, 109);
    padding: 16px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    width: 30px;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}